@import '../../common/common.scss';

.coin-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 20px;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-info {
      display: flex;
      align-items: center;
      gap: 0.5em;

      img {
        width: 24px;
        height: auto;
      }

      p {
        color: gray;
        font-size: 0.8rem;
      }
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.news-card-info-source {
  font-weight: 700;
}
