.coins-page {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.search-bar {
  height: 72px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &-input {
    background: none;
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    font-size: 1.5rem;
  }
}

.search-form {
  display: flex;
  gap: 1em;
}
