@import "../../common/common.scss";

.navbar {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;

  h1 {
    color: white;
  }
}

.navbar-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5em;

  &-option {
    width: 100%;
    display: flex;
    gap: 0.7em;
    align-items: center;
    font-size: 1.3rem;
    padding: 1em;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $bg-white;
    }
  }
}

@media screen and (max-width: 1010px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .navbar-menu {
      margin: unset;
      width: unset;
    }
  }
}
