@import '../../common/common.scss';

.navbar {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.desktop-nav {
  display: none;
}

@media (min-width: 1080px) {
  .navbar {
    flex-direction: column;
  }

  .mobile-view {
    display: none;
  }

  .desktop-nav {
    display: block;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;

  h1 {
    color: white;
  }
}

.sidebar {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 70px;
  width: 200px;
  height: 100vh;
  background-color: black;
}

.navbar-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 1em;

  &-option {
    width: 100%;
    display: flex;
    gap: 0.7em;
    align-items: center;
    font-size: 1.3rem;
    padding: 1em;
    cursor: pointer;
    transition: 0.2s ease all;

    &:hover {
      transform: scale(1.03);
      color: $bg-white;
    }
  }

  div p {
    color: white;
  }
}
