@import "../../common/common.scss";

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.navbar-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5em;

  &-option {
    width: 100%;
    display: flex;
    gap: 0.7em;
    align-items: center;
    font-size: 1.3rem;
    padding: 1em;
    cursor: pointer;
    border-radius: 1em;

    &:hover {
      background-color: white;
    }
  }
}
