.news-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 350px;
  position: relative;
  min-width: 350px;
  margin: 0 auto;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    gap: 1em;
  }

  &-description {
  }

  &-info {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
  }
}
